@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Lato:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Lato:ital@1&family=Libre+Franklin&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* navbar------------------------------ */
nav {
  background-color: rgba(128, 128, 128, 0.226);
  box-shadow: rgba(0, 0, 0, 0.2) 2.4px 2.4px 3.2px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.1rem;
}
.nav-item:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.26);
  border-radius: 10px;
}
/* container --------------------------- */
main {
  height: 300vh;
}
.container2 {
  display: flex;
  align-items: center;
  color: black;
}
.news_con {
  width: 75vw;
  margin: auto;
  margin-top: 8vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.226);
}
.news_con h3 {
  padding: 15px;
}
.news_headline {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}
.heading {
  font-family: "EB Garamond", serif;
  display: inline;
}
/* accrodain item-------------------------*/
.accordain-item {
  margin-top: 10px;
}
/* spinner size ---------------------------*/
.size {
  height: 15px;
  width: 15px;
}

@media screen and( max-width:991px) {
  .size {
    display: none;
    margin-left: 500px;
  }
  .body {
    background-color: pink;
  }
}
